
<!-- Latest Post Preview Start -->

<section id="{{ page.section-type }}" class="container content-section text-center">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">

          <h2><strong> <a href="http://github.com/lionel1704/CodeWars">CodeWars</a></strong></h2>
        <font size = "5px" style = "font-family: 'Vollkorn', serif;">A very simple server - client appplication for the preliminary round of a quiz event.<br>Coded using basic Java, Javascript, JSTL, HTML and CSS; this application fetches a set of questions from a database randomises and displays them.<br>A timer is included that automatically hits the submit button after the specified time. The submit button, calculates the total marks and inserts the result along with the requested details again in the database.</font>
        <br><br><br><h2><strong> <a href="https://drive.google.com/open?id=0B5fz0I9Z1jIBcWRoM2RGVk1ZUzQ">Automatic Traffic Light Control System</a></strong></h2>
      <font size = "5px" style = "font-family: 'Vollkorn', serif;">This system aims to automate the control of traffic lights at signals according to traffic density and to capture details of speeding vehicles  even in the absence of police personnel. It's a work in progress that will use Open Source hardware such as Arduino UNO</font>




      </div>
    </div>
</section>

<!-- Latest Post Preview End -->
