<!-- Latest Post Preview Start -->

<section id="{{ page.section-type }}" class="container content-section text-center">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <h1>Projects</h1>

      <br><br><br><h2><strong><a href="https://github.com/lionel1704/CodeForCognizant">Code For Cognizant</a></strong></h2>

      <p style="text-align: left;">
        <font size="5px" style="font-family: 'Vollkorn', serif;">An Android Application to host a technical event / hackathon. Built as part of the activities of the Cognizant Student Club and will be submitted to Cognizant as a proposed application to be used for the National event.<br>Features include authentication using email or Social Networks (Facebook, Google), Realtime Databases and Cloud Messaging.<br><br>
A <a href="https://github.com/lionel1704/CodeForCognizant-Admin">web application</a> built using Django is developed to securely access the Firebase Realtime Database to read queries and send responses to participants.
</font>
      </p>


      <br><br><br><h2><strong><a href="https://github.com/lionel1704/SmileMobileApp">S.M.I.L.E.</a></strong></h2>

      <p style="text-align: left;">
        <font size="5px" style="font-family: 'Vollkorn', serif;"><b>Simple Mobile Instant Learning Environment</b><br><br>An online portal to give information and provide updates regarding class activities and academic progress. For the students, by the students.<br> The application works with a Django Web
          Application as a server that can recieve requests(GET and POST) and send JSON responses. The application handles these JSON responses to parse data into the application. Google's Firebase Cloud Messaging is used for the sending of notifications.</font>
      </p>

      <br><br><br>
      <h2><strong><a href="https://github.com/lionel1704/AdiosAmigos">Adios Amigos</a></strong></h2>
      <p style="text-align: left;">
        <font size="5px" style="font-family: 'Vollkorn', serif;"><br><br>A Web Application built using Python on the Django Framework. It allowed the juniors to send farewell messages to their seniors. Seniors could login and read the farewell messages written exclusively for them.</font>
      </p>


      <br><br><br>
      <h2><strong> <a href="http://github.com/lionel1704/CodeWars">CodeWars</a></strong></h2>
      <p style="text-align: left;">
        <font size="5px" style="font-family: 'Vollkorn', serif;">A very simple server - client appplication for the preliminary round of a quiz event.<br>Built using Java Servlets, Javascript, JSTL, HTML and CSS.</p>
      </font>




    </div>
  </div>
</section>

<!-- Latest Post Preview End -->
