
<!-- Latest Post Preview Start -->

<section id="{{ page.section-type }}" class="container content-section text-center">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
          <h1>Projects</h1>
          <h2><strong> <a href="http://github.com/lionel1704/CodeWars">CodeWars</a></strong></h2>
        <p style="text-align: left;"><font size = "5px" style = "font-family: 'Vollkorn', serif;">A very simple server - client appplication for the preliminary round of a quiz event.<br>Built using basic Java, Javascript, JSTL, HTML and CSS;&nbsp this application fetches a set of questions from a database randomises and displays them.<br>A timer is included that automatically hits the submit button after the specified time. The submit button, calculates the total marks and inserts the result along with the requested details again in the database.</p></font>
        <br><br><br><h2><strong> <a href="https://https://sjit-it-batch14-18.github.io/onlinenotes/site/index.html">Smile Website</a> and <a href="https://github.com/lionel1704/SmileMobileApp">Mobile Application</a></strong></h2>

<p style="text-align: left;"><font size = "5px" style = "font-family: 'Vollkorn', serif;"><b>Simple Mobile Instant Learning Environment</b><br><br>An online portal to give information and provide updates regarding class activities and academic progress. For the students, by the students.<br>
The Android Applicaton provides easy access to the Smile portal with a user friendly interface both online and offline. It uses Google's firebase at the server side to store data and to send notifications via Cloud Messaging.</font></p>

<br><br><br><h2><strong>Adios Amigos</strong></h2>
<p style="text-align: left;"><font size = "5px" style = "font-family: 'Vollkorn', serif;"><br><br>A Web Application built using Python on the Django Framework. It allowed the juniors to send farewell messages to their seniors. Seniors could login and read the farewell messages written exclusively for them.</font></p>




      </div>
    </div>
</section>

<!-- Latest Post Preview End -->
